p,
li {
  line-height: 1.5rem;
}

@media (prefers-color-scheme: light) {
  :not(a) {
    color: #000;
    background-color: #f2f2f2;
  }
  nav a:visited {
    color: #0000ee;
  }

  h2 {
    color: #0077ff;
  }
  h3 {
    color: #2e7d32;
  }
  h4 {
    color: #ff9900;
  }
  h5 {
    color: #e91e63;
  }
  h6 {
    color: #d32f2f;
  }
}

@media (prefers-color-scheme: dark) {
  :not(a) {
    color: #f2f2f2;
    background-color: #222;
  }
  nav a:visited {
    color: #567ace;
  }
  a:not(a:visited) {
    color: #567ace;
  }
  a:visited {
    color: #bb77aa;
  }

  h2 {
    color: #0066cc;
  }
  h3 {
    color: #4caf50;
  }
  h4 {
    color: #ff9800;
  }
  h5 {
    color: #e91e63;
  }
  h6 {
    color: #d32f2f;
  }
}
