@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

* {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  padding-right: 20px;
}

p,
li {
  line-height: 1.5rem;
}

@media (prefers-color-scheme: light) {
  :not(a) {
    color: #000;
    background-color: #f2f2f2;
  }
  nav a:visited {
    color: #0000ee;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #567ace;
  }
}

@media (prefers-color-scheme: dark) {
  :not(a) {
    color: #f2f2f2;
    background-color: #222;
  }
  nav a:visited {
    color: #567ace;
  }
  a:not(a:visited) {
    color: #567ace;
  }
  a:visited {
    color: #bb77aa;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #7eb0fc;
  }
}
